/* google fonts link */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
/* fact bounce style */
@keyframes slide {
  0% {
    transform: translateY(80%);
  }
  50% {
    transform: translateY(-90px);
  }
  100% {
    transform: translateY(80%);
  }
}
/* body style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
body {
  font-family: "Work Sans", sans-serif;
}
:root {
  --primary-color: #131313;
  --secondary-color: #727272;
  --tertiary-color: #424242;
  --theme-color: #ff900e;
}
.primary-btn {
  font-weight: 400;
  font-size: 1.2rem;
  color: #ffffff;
  padding: 1.25rem 1.5rem;
  background-color: var(--theme-color);
  border: none;
  border-radius: 8px;
  margin-top: 32px;
  margin-bottom: 50px;
}
.section-description {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 1rem;
  line-height: 26px;
}
.section-title {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.container,
.navbar {
  max-width: 1450px;
  margin: 0 auto;
  padding: 65px 0;
}
/* logo design */
.logo {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 2rem;
}
/* navbar part style */
.full-cover {
  background-color: rgba(255, 144, 14, 0.1);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}
.nav-items > ul {
  display: flex;
  column-gap: 4.5rem;
}
.nav-items > ul > li > a {
  color: var(--tertiary-color);
  font-weight: 400;
  font-size: 1rem;
}
/* banner part style */
.banner {
  display: flex;
  flex-direction: column;
  padding: 45px 0;
}
.banner-items {
  max-width: 53rem;
  margin: 0 auto;
  text-align: center;
}
.banner-title {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 1rem;
}
.banner-img img {
  width: 100%;
}
/* feature part style */
.feature {
  padding: 0 50px;
  display: flex;
  align-items: center;
  column-gap: 4.5rem;
}
.feature-imgs {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2, 1fr);
}
.feature-img img {
  width: 100%;
}
.feature-item {
  flex: 1;
  max-width: 537px;
  margin-top: 40px;
}
.head-light {
  color: var(--secondary-color);
  font-weight: 400;
}
.head-theme {
  color: var(--theme-color);
}
/* services part style */
.services {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}
.service-item {
  text-align: center;
  max-width: 300px;
  width: 100%;
  background: #ffffff;
  padding: 50px 20px;
  border-radius: 20px;
  box-shadow: 0px 10px 50px 0px rgb(26 46 85 / 10%);
  transform: translateY(0px);
  transition: all 0.1s ease-in-out 0.1s;
}
.service-item:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out 0.1s;
  box-shadow: 0px 20px 60px 0px rgb(26 46 85 / 20%);
}
.service-title {
  color: var(--tertiary-color);
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.service-details {
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 1rem;
}
/* about part style */
.about {
  display: flex;
  column-gap: 146px;
  align-items: center;
  padding: 0 20px;
}
.about-details {
  flex: 1;
}
.about-head {
  border-left: 5px solid var(--theme-color);
  padding-left: 20px;
}
.about-item {
  margin-top: 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 30px;
  margin-left: 5px;
}
.about-item > h5 {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 5px;
}
.about-img {
  position: relative;
}
.about-img img {
  width: 100%;
}
.about-btn {
  padding: 2.8rem 2.6rem;
  margin: 0;
  position: absolute;
  bottom: -77px;
  left: -92px;
}
.btn-font-big {
  font-weight: 700;
  font-size: 65px;
}
/* facts part style */
.facts,
.sponsor-container {
  padding: 0 20px;
}
.fact-details {
  max-width: 33.75rem;
}
.facts-items {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
.facts-item {
  padding: 45px 35px;
  text-align: center;
  border: 1px solid var(--theme-color);
  border-radius: 8px;
  margin-bottom: 50px;
  transition: animation 0.4s;
}
.slide-1 {
  animation-name: slide;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.slide-2 {
  animation-name: slide;
  animation-duration: 4s;
  animation-delay: 0.4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.fact-no {
  margin-bottom: 0px;
}
/* sponsor part style */
.section-head {
  max-width: 542px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.sponsor {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 65px;
}
.brand img {
  width: 100%;
  filter: grayscale(100%);
}
/* footer part style */
.footer-container {
  padding: 0;
}
.footer {
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
}
.contact {
  margin-top: 2rem;
}
.contact > div {
  margin-bottom: 2rem;
}
.contact > div i {
  color: var(--theme-color);
  font-size: 1.5rem;
  margin-right: 10px;
  margin-bottom: 10px;
}
.contact > div span {
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 10px;
}
.form input[type="text"],
[type="email"] {
  font-weight: 700;
  color: var(--tertiary-color);
  font-size: 1rem;
  max-width: 300px;
  width: 100%;
  padding: 1rem;
  border: none;
  border-bottom: 2px solid var(--theme-color);
  margin-bottom: 20px;
}
label > a {
  text-decoration: underline;
}
.submit-btn {
  margin: 0;
  margin-top: 20px;
  padding: 14px 60px;
}
.copyright {
  padding: 38px 0;
  background-color: rgba(255, 144, 14, 0.1);
  text-align: center;
}
.copyright > p {
  color: var(--tertiary-color);
  font-weight: 400;
  font-size: 20px;
}
@media only screen and (max-width: 576px) {
  .container,
  .navbar {
    padding: 20px 0;
  }
  .navbar {
    align-items: flex-start;
    flex-direction: column;
    row-gap: 20px;
    padding-left: 10px;
  }
  .nav-items > ul {
    flex-direction: column;
    row-gap: 10px;
    padding-left: 10px;
  }
  .feature {
    padding: 0 20px;
    flex-direction: column-reverse;
  }
  .services {
    justify-content: center;
    flex-direction: column;
  }
  .service-item {
    max-width: 100%;
  }
  .about {
    flex-direction: column-reverse;
  }
  .about-head {
    margin-top: 20px;
  }
  .about-btn {
    padding: 10px 15px;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
  .btn-font-big {
    font-weight: 700;
    font-size: 20px;
  }
  .facts-items {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .sponsor-container {
    margin-top: 50px;
  }
  .sponsor {
    row-gap: 20px;
  }
  .footer-container {
    padding: 0;
  }
  .footer {
    padding-top: 0;
    text-align: center;
    flex-direction: column;
  }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .container,
  .navbar {
    padding: 20px 0;
  }
  .navbar {
    flex-direction: column;
    row-gap: 20px;
  }
  .feature {
    flex-direction: column-reverse;
  }
  .services {
    justify-content: center;
    flex-wrap: wrap;
  }
  .service-item {
    max-width: 60%;
  }
  .about {
    flex-direction: column-reverse;
  }
  .about-head {
    margin-top: 20px;
  }
  .about-btn {
    padding: 10px 15px;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
  .btn-font-big {
    font-weight: 700;
    font-size: 20px;
  }
  .facts-items {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .sponsor-container {
    margin-top: 50px;
  }
  .sponsor {
    row-gap: 20px;
  }
  .footer-container {
    padding: 0;
  }
  .footer {
    padding-top: 0;
  }
}
